//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  /* Positioning */
  position: absolute;
  bottom: $bottom;
  left: $left;
  right: $right;
  top: $top;
}

@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  /* Other */
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin flex($align-items, $justify-content) {
  /* Display & Box Model */
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}