.contact-us {
    padding-left: 1in;
    padding-right: 1in;
    padding-top: 1.5in;
    padding-bottom: 1in;
    border-radius: 0.5rem;
    overflow: hidden;
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        padding-left: 0.5in;
        padding-right: 0.5in;
        padding-top: 1in;
        padding-bottom: 1in;
    }
    &__back-button {
        cursor: pointer;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            right: 0.4in;
            position: relative;
        }
    }
}
