.message-container {
    // background-color: rgba(65, 113, 132);
    display: grid;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.message-title {
    text-align: center;
    color: #085457;
    font-weight: bold;
    padding-bottom: 10px;
}

.contact-us {
    text-align: center;
    &__content {
        padding-left: 1in;
        padding-right: 1in;
        padding-bottom: 0.1in;
        margin-bottom: 0;
        font-size: large;
        font-weight: 400;
        color: black;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            padding-left: 0.2in;
            padding-right: 0.2in;
        }
    }

    &__title {
        font-weight: bold;
    }

    &__number {
        display: grid;
    }

    &__img-container {
        justify-content: center;
        display: flex;
        margin-left: 2in;
        margin-right: 2in;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            margin-left: 0in;
            margin-right: 0in;
            margin-top: 0in;
        }
    }
}

.package-img {
    height: 600px;
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        width: 100%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
    }
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    max-width: 600px; /* Limiting maximum width for larger screens */
    height: 300px; /* Adjust height as needed */
    margin: 0 auto; /* Center the map on the page */
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 100%;
}

.gmap_iframe {
    width: 100% !important;
    height: 100% !important;
}

.business-permit {
    color: #ffbd59;
}