<div class="message-container" id="contact-us">
    <h1 class="message-title">Contact us for Bookings and Inquiries</h1>
    <div class="contact-us">
        <div class="contact-us__content">
            <span  class="contact-us__title"><img src="assets/icons/fb.svg"> Facebook Page: </span> <span>Creating Memories Travel and Tours</span>
        </div>
        <div class="contact-us__content">
            <span class="contact-us__title"><img src="assets/icons/smartphone.svg"> <img src="assets/icons/whatsapp.svg"> Contact Number (text/call/WhatsApp): </span> 
            <div class="contact-us__number">
                <span><i class="fa fa-whatsapp" aria-hidden="true">+63 966 442 7906 - Globe</i> </span>
                <span><i class="fa fa-whatsapp" aria-hidden="true">+63 961 643 4454 - Smart</i> </span>
            </div>
        </div>
        <div class="contact-us__content">
            <span  class="contact-us__title"><img src="assets/icons/mail.svg"> Email Address: </span> <span>creatingmemories1967&#64;gmail.com</span>
        </div>
        <div class="contact-us__content">
            <span  class="contact-us__title"><img src="assets/icons/map.svg"> Office Address: </span> <span>Pops District Brgy. Corong Corong El Nido Palawan, Philippines</span>
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=Pops District Brgy. Corong Corong El Nido Palawan, Philippines&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                    <a href="https://embed-googlemap.com">embed google map</a>
                </div>
            </div>
            
        </div>
        <div class="contact-us__content">
            <h1 class="message-title">Business Registration Permit No. <span class="business-permit">3279</span></h1>
        </div>
    </div>
</div>