.carousel-img {
    width: 100% ;
    height: 35rem;
}




.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    background: transparent;
}



.message-container {
    // background-color: rgba(65, 113, 132);
    display: grid;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.message {
    text-align: center;
    &__content {
        padding-left: 1in;
        padding-right: 1in;
        padding-bottom: 0.2in;
        margin-bottom: 0;
        font-size: large;
        font-weight: 400;
        color: black;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            padding-left: 0.2in;
            padding-right: 0.2in;
        }
    }
}

.message-title {
    text-align: center;
    color: #085457;
    font-weight: bold;
    padding-bottom: 10px;
}

.services-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Adjust the gap between grid items */

    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically fit columns with a minimum width of 300px */
    }
}

.service {
    background-color: rgba(211, 211, 211, 0.1);
    padding: 0.5in;
    border-radius: 0.5rem;
    overflow: hidden; 
    .service-details {
        max-height: none; /* Initially collapse the content */
        transition: max-height 0.3s ease; /* Smooth transition */
    }

    &.expanded .service-details {
        max-height: none; /* Expand the content when the accordion is expanded */
    }
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        padding: 0in;
    }

    &__img-container {
        justify-content: center;
        display: flex;
        margin-left: 2in;
        margin-right: 2in;
        margin-top: 0.5in;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            margin-left: 0.5in;
            margin-right: 0.5in;
            margin-top: 0.1in;
        }
    }
}

.service-header {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;

    .service-title {
        color: #085457;
        @media (max-width: 768px) { /* Adjust breakpoint as needed */
            font-size: calc(1.1rem + 0.6vw) !important;
        }
    }

    .service-price {
        color: #ffbd59;
    }
}

.service-details {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Automatically fit columns with a minimum width of 300px */
    }
    &__service-itinerary {
        font-size: large;
        font-weight: bold;
        padding-top: 10px;
        padding-left: 0.5in;
        padding-right: 0.5in;
        padding-bottom: 10px;
        span {
            padding-top: 10px;
        }
        &--place {
            display: grid;
            color: #0097b2;
            justify-content: center;
        }
        h4 {
            color: #ffbd59;
        }
        &--time {
            color: #7ed957;
        }
    }
    &__service-inclusion {
        font-size: large;
        font-weight: bold;
        padding-top: 10px;
    }
}

.services-img {
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        width: 100%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
    }
}

.services {
    padding: 0.5in;
    @media (max-width: 768px) { /* Adjust breakpoint as needed */
        padding-left: 0in;
        padding-right: 0in;
        padding-bottom: 0.2in;
    }
}

.services-title {
    text-align: center;
    color: #085457;
    font-weight: bold;
    padding-bottom: 10px;
}