
    <app-top-nav></app-top-nav>
    <div class="carousel-container" id="main-header">
        <ngb-carousel #carousel1 [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="picsum-img-wrapper">
                    <img class="carousel-img" [src]="img" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

    <!-- MESSAGE CARD -->
    <div class="message-container" id="message">
        <h1 class="message-title">🌴 Create new memories with Our El Nido Tours! 🌴</h1>
        <div class="message">
            <p class="message__content">
                Explore the world with Creating Memories Travel and Tours. Let us turn your dreams into unforgettable adventures. Book your next journey today and start creating memories with families and friends that last a lifetime.
            </p>
            <p class="message__content">
                Embark on an unforgettable journey to the breathtaking beauty of El Nido with our curated selection of tours. Nestled in the Philippines, El Nido boasts pristine beaches, crystal-clear waters, and stunning limestone cliffs, making it a dream destination for travelers seeking serenity and adventure.
            </p>
            <p class="message__content">
                Our expertly crafted tours offer something for everyone, whether you're a thrill-seeker eager to dive into the vibrant marine life of the Bacuit Bay, a nature lover yearning to hike through lush jungles to hidden lagoons, or a sunset enthusiast craving the perfect spot to witness nature's masterpiece.
            </p>
            <p class="message__content">
                Join us as we guide you through this tropical paradise, ensuring every moment is filled with wonder and discovery. With our experienced guides, comfortable accommodations, and seamless logistics, you can relax and immerse yourself in the magic of El Nido without worry.
            </p>
        </div>
    </div>

    <!-- SERVICES CARD -->

    <div class="services" id="packages">
        <h1 class="services-title">OUR SERVICES</h1>
        <div class="packages">
            <div>
                <h2 class="package-subtitle">Tours</h2>
                <div class="tour-container">
                    <div class="tour">
                        <div class="tour__img-container">
                            <img class="package-img" src="assets/images/12.png">
                        </div>
                        <div class="tour-header">
                            <h3 class="tour-title">• Underground River Tour</h3>
                        </div>
                    </div>
                    <div class="tour">
                        <div class="tour__img-container">
                            <img class="package-img" src="assets/images/13.png">>
                        </div>
                        <div class="tour-header">
                            <h3 class="tour-title">• Inland Tour El Nido</h3>
                        </div>
                    </div>
                    <div class="tour">
                        <div class="tour__img-container">
                            <img class="package-img" src="assets/images/14.png">>
                        </div>
                        <div class="tour-header">
                            <h3 class="tour-title">• Island Hopping El Nido</h3>
                        </div>
                    </div>
                    <div class="tour">
                        <div class="tour__img-container">
                            <img class="package-img" src="assets/images/15.png">>
                        </div>
                        <div class="tour-header">
                            <h3 class="tour-title">• Island Hopping Coron</h3>
                        </div>
                    </div>
                    <div class="tour">
                        <div class="tour__img-container">
                            <img class="package-img" src="assets/images/16.png">>
                        </div>
                        <div class="tour-header">
                            <h3 class="tour-title">• Island Hopping Port Barton</h3>
                        </div>
                    </div>
                </div>
            <div>
        </div>
        <div class="services-container">
            <div class="service">
                <div class="service-header">
                    <h3 class="service-title">Van Transfer</h3>
                </div>
                <div class="service-details__service-itinerary">
                    <div class="service-details__service-itinerary--place">
                        <h4>Puerto Princesa (Vice Versa): </h4>
                        <span>1. El Nido</span>
                        <span>2. Nacpan</span>
                        <span>3. Port Barton</span>
                    </div>
                </div>
            </div>
            <div class="service">
                <div class="service-header">
                    <h3 class="service-title">Other Services</h3>
                </div>
                <div class="service-details__service-itinerary">
                    <div class="service-details__service-itinerary--place">
                        <span>• Ferry to Coron</span>
                        <span>• Expedition Tour</span>
                        <span>• Canopy Walk</span>
                        <span>• Taraw Cliff Climbing</span>
                        <span>• Motor Bike Rental</span>
                        <span>• Massage Service</span>
                        <span>• Airline Ticketing</span>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- TOURS CARD -->
    <div class="package" id="packages">
        <h1 class="package-title">TOURS AND PACKAGES</h1>
            <div class="ultimate-tour" *ngFor="let tour of allInOneTourPackages">
                <div class="tour__img-container">
                    <img class="package-img" [src]="tour.img">
                </div>
                <div class="ultimate-tour-header">
                    <h3 class="tour-title">{{tour.title}} - <span class="tour-price">{{tour.price}} </span></h3>
                </div>
                <div class="package-button-container">
                    <button class="package-button-container__button" (click)="goToAllInOnePackage(tour)">View Package Details</button>
                </div>
            </div>
            <div class="package-container">
                <div class="tour" *ngFor="let tour of tourPackages">
                    <div class="tour__img-container">
                        <img class="package-img" [src]="tour.img">
                    </div>
                    <div class="tour-header">
                        <h3 class="tour-title">{{tour.title}} - <span class="tour-price">{{tour.price}} </span></h3>
                    </div>
                    <div class="package-button-container">
                        <button class="package-button-container__button" (click)="goToPackage(tour)">View Package Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- CONTACT US CARD -->
    <app-contact-us></app-contact-us>
    <button class="sticky-button" (click)="scrollTo('contact-us')">Contact Us</button>
    <app-footer></app-footer>
