
    <app-top-nav></app-top-nav>
    <div class="carousel-container">
        <ngb-carousel #carousel1 [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="picsum-img-wrapper">
                    <img class="carousel-img" [src]="img" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="message-container" id="message">
        <h1 class="message-title">🌴 Create new memories with Our El Nido Tours! 🌴</h1>
        <div class="message">
            <p class="message__content">
                Explore the world with Creating Memories Travel and Tours. Let us turn your dreams into unforgettable adventures. Book your next journey today and start creating memories that last a lifetime.
            </p>
            <p class="message__content">
                Embark on an unforgettable journey to the breathtaking beauty of El Nido with our curated selection of tours. Nestled in the Philippines, El Nido boasts pristine beaches, crystal-clear waters, and stunning limestone cliffs, making it a dream destination for travelers seeking serenity and adventure.
            </p>
            <p class="message__content">
                Our expertly crafted tours offer something for everyone, whether you're a thrill-seeker eager to dive into the vibrant marine life of the Bacuit Bay, a nature lover yearning to hike through lush jungles to hidden lagoons, or a sunset enthusiast craving the perfect spot to witness nature's masterpiece.
            </p>
            <p class="message__content">
                Join us as we guide you through this tropical paradise, ensuring every moment is filled with wonder and discovery. With our experienced guides, comfortable accommodations, and seamless logistics, you can relax and immerse yourself in the magic of El Nido without worry.
            </p>
        </div>
    </div>
    <div class="package" id="packages">
        <h1 class="package-title">TOURS AND PACKAGES</h1>
        <div class="package-container">
            <div class="tour" *ngFor="let tour of tourPackages">
                <div class="tour__img-container">
                    <img class="package-img" [src]="tour.img">
                </div>
                <div class="tour-header">
                    <h3 class="tour-title">{{tour.title}} - <span class="tour-price">{{tour.price}} </span></h3>
                </div>
                <div class="package-button-container">
                    <button class="package-button-container__button" (click)="goToPackage(tour)">View Package Details</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="message-container" id="contact-us">
        <h1 class="message-title">Contact us for Bookings and Inquiries</h1>
        <div class="contact-us">
            <div class="contact-us__content">
                <span class="contact-us__title">Contact Number: </span> 
                <div class="contact-us__number">
                    <span>09664427906 - Globe </span>
                    <span>09616434454 - Smart </span>
                </div>
            </div>
            <div class="contact-us__content">
                <span  class="contact-us__title">Email Address: </span> <span>creatingmemories1967&#64;gmail.com</span>
            </div>
            <div class="contact-us__content">
                <span  class="contact-us__title">Office Address: </span> <span>Pops District Brgy. Corong Corong El Nido Palawan, Philippines</span>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=Pops District Brgy. Corong Corong El Nido Palawan, Philippines&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                        <a href="https://embed-googlemap.com">embed google map</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <button class="sticky-button" (click)="scrollTo('contact-us')">Contact Us</button>
    <app-footer></app-footer>
